<script type="text/javascript">
function vote(way){
  getpage("/req/votes/cast","vote_id={{_id}}&type={{type}}&vote="+way)
}
</script>
<style media="screen">
	p{
		margin: 5%;
		box-shadow: 10px 5px 20px rgba(0, 0, 0, .2);;
	}
</style>
<h2 class="center">{{title}}</h2>
<p>
	{{{summary}}}
</p>
<div class="center">
	<input type="button" name="" value="nay" onclick="vote(-1)">
	<input type="button" name="" value="skip" onclick="vote(0)">
	<input type="button" name="" value="yay" onclick="vote(1)">
</div>
